.pawn.white {
  background-image: url("/pieces/chesscom-neo/wp.png");
}

.knight.white {
  background-image: url("/pieces/chesscom-neo/wn.png");
}

.bishop.white {
  background-image: url("/pieces/chesscom-neo/wb.png");
}

.rook.white {
  background-image: url("/pieces/chesscom-neo/wr.png");
}

.queen.white {
  background-image: url("/pieces/chesscom-neo/wq.png");
}

.king.white {
  background-image: url("/pieces/chesscom-neo/wk.png");
}

.pawn.black {
  background-image: url("/pieces/chesscom-neo/bp.png");
}

.knight.black {
  background-image: url("/pieces/chesscom-neo/bn.png");
}

.bishop.black {
  background-image: url("/pieces/chesscom-neo/bb.png");
}

.rook.black {
  background-image: url("/pieces/chesscom-neo/br.png");
}

.queen.black {
  background-image: url("/pieces/chesscom-neo/bq.png");
}

.king.black {
  background-image: url("/pieces/chesscom-neo/bk.png");
}
